body {
    background-image: url(../Imagem/369154-PBG6YM-162.jpg);
    width: 400px ;
    border: 10px solid black;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    text-align: center;
    margin-left: 35%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    
}
main{
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

input, button {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
